.navbar {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 60px;

    background: rgba(0, 0, 0, 0.45);

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    z-index: 1000;
}

.logo {
    color: white;
    font-size: 28px;
    font-weight: 700;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 35px;

    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;

    font-size: 18px;
    font-weight: 500;

    transition: 0.3s;
}

.nav-links a:hover {
    color: #ff4d6d;
}

.logout-btn {
    border: none;

    background: #ff4d6d;
    color: white;

    padding: 10px 18px;

    border-radius: 8px;

    cursor: pointer;
    font-size: 15px;
}